# Kaggle credentials
kaggle.json
.kaggle/

# Environment variables
.env
.env.local

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
build/
dist/
*.egg-info/

# Jupyter
.ipynb_checkpoints/

# Data files
*.zip


# IDE
.vscode/
.idea/
*.swp
*.swo
